.contactsItem {
    display: flex;
    justify-content: space-between
}

.contactsItem:not(:last-child) {
    padding-bottom: 5px;
    border-bottom: #d6f6bc 1px solid;
    margin-bottom: 5px;
}


.contactsItemNumber {
    margin-right: 7px;
}

.contactsItemButton {
    padding: 7px;
    border-radius: 5px;
    color: #9dc180;
    border: none;
}

.contactsItemButton:hover, .contactsItemButton:focus {
    cursor: pointer;
    background-color: #d6f6bc;
    color: #516641;
}