.header {
    padding: 5px;
    display: flex;
    /* gap: 10px; */
    justify-content: space-between
}

.main {
    flex-grow: 1;
}

/* #main-content:empty::before {
    content: "";
    height: 0;
    visibility: hidden;
  } */

.footer {
    margin-top: auto;
}

.footerBox {
    display: flex;
    gap: 5px;
    justify-content: center;
    margin-bottom: 5px;
}

.text {
    text-align: center;
    font-size: 12px;
}